version: '2.1'
services:
  database:
    container_name: dhis2-database
    image: postgres:9.6-alpine
    environment:
      POSTGRES_USER: dhis
      POSTGRES_DB: dhis
      POSTGRES_PASSWORD: dhis
      PG_DATA: /var/lib/postgresql/data/pgdata:z
    ports:
      - "5433:5432"
    logging:
      driver: "none"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h database -p 5432 -d dhis"]
      interval: 30s
      timeout: 30s
      retries: 5
  web:
    container_name: dhis2-web
    image: dhis2/dhis2-web:2.27-tomcat7-jre8-latest
    environment:
      JAVA_OPTS: "-Xmx1024m -Xms4000m"
      POSTGRES_DB: dhis
    ports:
      - "8085:8080"
    depends_on:
      database:
        condition: service_healthy
    logging:
      driver: "none"
    healthcheck:
      test: "curl -f http://web:8080"
      interval: 30s
      retries: 15
  api-tests:
    container_name: dhis2-api-tests
    build: .
    depends_on:
      web:
        condition: service_healthy
    environment:
      PGUSER: dhis
      PGPASSWORD: dhis
      PGDATABASE: dhis
      PGHOST: database
      PGPORT: 5432
      DHIS2_LOG_MODE: $DHIS2_LOG_MODE
    command: bash -c 'wget http://web:8080/api && psql -a -f db/initial-script.sql && npm test -- $DHIS2_FEATURE --world-parameters "{\"baseUrl\":\"http://web:8080\", \"apiVersion\":27, \"generateHtmlReport\":$DHIS2_GENERATE_HTML_REPORT}"'
